

#pagePagination .MuiPagination-outline{
    color:"#fff";
    border:"1px solid #fff";
    
}
#pagePagination .MuiButtonBase-root{
    background-color:rgba(255, 255, 255, 0.20)!important;
    color:#fff!important;
    font-family: 'Poppins', sans-serif !important;
    border-radius:10px!important;
    border: 1px solid #fff!important;
    font-weight:600!important;
}
#pagePagination .MuiPaginationItem-root{
    color:#fff!important;
}
#pagePagination ul li button.Mui-selected {
    background-color:#fff!important;
    color:purple!important;
    border: 2px solid purple!important;
    
}