

.MuiPagination-outline{
    color:"#fff";
    border:"1px solid #fff";
    
}
.MuiPagination-root{
    color:"#fff";
    
}
.MuiPagination-ul{
    color:#fff;
    
}
.MuiPagination-text{
    color:"#fff";
}
.MuiButtonBase-root{
    background-color:rgba(255, 255, 255, 0.20)!important;
    color:#fff!important;
    font-family: 'Poppins', sans-serif !important;
    border-radius:10px!important;
    border: 1px solid #fff!important;
    font-weight:600!important;
}
.MuiPaginationItem-root{
    color:#fff!important;
}
.Mui-selected {
    background-color:#fff!important;
    color:rgba(33, 17, 52, 1)!important;
    border: rgba(33, 17, 52, 1)!important;
    
}